.Button {
  height: 45px;
  width: 184px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;

  .label-button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }

  .Link {
    text-decoration: none;

    .label-button {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
  }
}

// responsive layout
@media only screen and (max-width: 600px) {
  .Button {
    height: 27px;
    width: 108px;

    .label-button {
      font-size: 12px;
    }

    .Link {
      .label-button {
        font-size: 12px;
      }
    }
  }
}
