.container {
    background: #E5E5E5;

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        
        .post-img {
            margin-bottom: 30px;
        }
    }
}