$mercury: #e5e5e5;

.container {
  background: $mercury;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .post-img {
      margin-bottom: 30px;
      min-width: 80px;
    }
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// responsive layout
@media only screen and (max-width: 600px) {
  .container {
    .imageContainer {
      margin-top: 30px;
    }
  }
}
