body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

.react-input-emoji--input {
  height: 160px !important;
  max-height: 160px !important;
}

.react-emoji-picker--wrapper{
  top: -36px !important;
  right: -339px !important;
}

.react-input-emoji--input {
  width: 100% !important;
}

.dzu-submitButtonContainer {
  display: none;
}

.dzu-inputLabelWithFiles {
  display: none !important;
}

.dzu-dropzone {
  border: 0px solid transparent;
}

.dzu-previewContainer{
  padding: 0 !important;
}

.dzu-dropzone {
  min-height: 70px !important;
  overflow: auto !important;
  border: 2px solid #2484FF !important;
}

/* responsive layout */
@media only screen and (max-width: 600px) {
  .react-emoji-picker--wrapper{
    top: -392px !important;
    right: 0px !important;
  }
}
